/* !fonts */
/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/* !variables */
:root {
  --mainColor: #999999;
  --mainFontSize: 15px;
  --mainFontFamily: "Roboto", sans-serif;
}

body {
  color: var(--mainColor);
  font-size: var(--mainFontSize);
  font-family: var(--mainFontFamily);
  /* background-color: #000; */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* !section__header */
.section__header {
  background-color: #fff;
  padding: 70px 0;
  text-align: center;
}
.section__suptitle {
  font: 400 24px "Kaushan Script", sans-serif;
  color: #333;
  margin-bottom: 10px;
}
.section__title {
  font: 700 30px "Montserrat", sans-serif;
  color: #333;
}
.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 30px auto 40px;
  background-color: #f38181;
}
.section__text {
  max-width: 940px;
  margin: 0 auto;
  line-height: 1.6;
}
/* !/section__header */

/* intro */
.intro {
  background: #ebab86 url(../img/intro/intro__bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.intro__inner {
  padding-top: 80px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.intro__content {
  flex: 1 1 auto;
}
.intro__suptitle {
  font: 400 52px "Kaushan Script", sans-serif;
  line-height: 1;
  color: #fff;
  margin-bottom: 25px;
}
.intro__title {
  font: 700 110px "Montserrat", sans-serif;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
}
.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  margin: 40px auto 30px;
  height: 3px;
  background-color: #fff;
}
.btn--info {
  font: 700 14px "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 10px 25px;
  flex: 1 1 auto;
  background-color: transparent;
  transition: all 0.3s linear;
}
.btn--info:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
.dots {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.dots__item {
  width: 24%;
  text-align: left;
}
.dots__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.dots__number {
  font: 700 24px "Montserrat", sans-serif;
  color: #fff;
}
.dots__text {
  font: 400 18px "Montserrat", sans-serif;
  color: #fff;
}
/* /intro */

/* header */
.header {
  position: absolute;
  width: 100%;

  left: 0;
  top: 0;
  z-index: 2;
}
.header__inner {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo {
  font: 700 30px "Montserrat", sans-serif;
  color: #fff;
}
.nav {
  margin-left: 5px;
  display: flex;
}
.nav__link {
  font: 400 14px "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin-left: 50px;
  transition: all 0.3s linear;
}
.nav__link:first-child {
  margin-left: 0;
}
.nav__link:hover,
.nav__link.active {
  color: #fce38a;
  border-bottom: 1px solid #fce38a;
}

.icons__item {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.5s linear;
}
.icons__item:hover {
  transform: rotate(10deg);
}
.icons__item--basket {
  margin-left: 35px;
  background: url(../img/header__icons/header__basket.png) no-repeat center center;
}
.icons__item--search {
  background: url(../img/header__icons/header__search.png) no-repeat center center;
  margin-left: 15px;
}
/* /header */

/* about */

.about__inner {
  display: flex;
  justify-content: space-between;
  margin: 0 -14px;
}
.about__img {
  max-width: 100%;
  height: auto;

  background: #95e1d3;
}
.about__item {
  flex: 1 1 380px;
  padding: 0 14px;
}

/* /about */
