/* !fonts */
/* font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

/* !variables */
:root {
  --mainColor: #999999;
  --mainFontSize: 15px;
  --mainFontFamily: "Roboto", sans-serif;
}

body {
  color: var(--mainColor);
  font-size: var(--mainFontSize);
  font-family: var(--mainFontFamily);
}
hr {
  border: 0;
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #e5e5e5;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

/* btn */
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: background 0.3s linear, color 0.3s linear;
}
.btn:hover {
  background-color: #fff;
  color: #333;
}
/* ---------------------------- */

/* header */
.header {
  padding-top: 30px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}
.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  color: #fff;
  position: relative;
  transition: color 0.3s linear;
}
.nav__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 3px;
  background-color: #fce38a;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.nav__link:hover,
.nav__link.active {
  color: #fce38a;
}
.nav__link:hover::after,
.nav__link.active::after {
  opacity: 1;
}

/* /header */

/* intro */
.intro {
  width: 100%;
  height: 100vh;
  background: url(../img/intro/intro__bg.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro__inner {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  text-align: center;
}
.intro__title {
  font-size: 120px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  color: #fff;
}
.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 40px auto;
}
.intro__suptitle {
  margin-bottom: 20px;
  font-family: "Kaushan Script", cursive;
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.slider {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.slider__inner {
  display: flex;
  justify-content: space-between;
}
.slider__item {
  width: 23%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
  border-top: 3px solid #fff;
  position: relative;
  opacity: 0.7;
}
.slider__item.active {
  opacity: 1;
}
.slider__item.active::before {
  content: "";
  width: 70px;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
  background-color: #f38181;
}
.slider__num {
  font-size: 24px;
  font-weight: 700;
}
/* /intro */

/* section */
.section {
  padding: 80px 0;
}
.section--devices {
  background: url(../img/devices/devices__bg.jpg) center no-repeat;
  background-size: cover;
  padding-bottom: 0;
  margin-bottom: 40px;
}
.section--grey {
  background-color: #f8f8f8;
}
.section--clients {
  background: #f5f5f5 url(../img/clients/clients__bg.jpg) center no-repeat;
  background-size: cover;
}
.section__header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 40px;
  text-align: center;
}
.section__suptitle {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Kaushan Script", cursive;
}
.section__title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.section__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 50px auto;
  background-color: #f38181;
}
/* /section */

/* card */
.card {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
.card__item {
  width: 380px;
}
.card__inner {
  background-color: #95e1d3;
  position: relative;
}
.card__item:hover .card__img {
  transform: translate3d(-10px, -10px, 0);
}
.card__item:hover .card__img img {
  opacity: 0.1;
}
.card__item:hover .card__text {
  opacity: 1;
}

.card__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.3s linear;
}
.card__img img {
  transition: opacity 0.3s linear;
  display: block;
}
.card__text {
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  opacity: 0;
  transition: opacity 0.3s linear;
}

/* /card */

/* statistics */
.statistics {
  background-color: #95e1d3;
}
.stat {
  display: flex;
}
.stat__item {
  flex: 1 1 0;
  border-left: 1px solid #b5eae0;
  color: #fff;
  padding: 70px 25px;
  text-align: center;
}
.stat__item:last-child {
  border-right: 1px solid #b5eae0;
}
.stat__count {
  font-size: 72px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}
.stat__text {
  font-size: 14px;
  text-transform: uppercase;
}
/* /statistics */

/* services */
.services {
  display: flex;
}
.services__item {
  flex: 1 1 0;
  position: relative;
  padding-left: 70px;
  padding-right: 20px;
}
.services__icon {
  /* display: block; */
  position: absolute;
  left: 20px;
  top: 0;
  z-index: 1;
}
.services__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services__text {
  line-height: 1.3;
}
/* /services */

/* devices */
.devices {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.devices__item {
  display: block;
}
.devices__item--iphone {
  position: absolute;
  bottom: -80px;
  right: 0;
  z-index: 1;
}
/* /devices */

/* wedo */
.wedo {
  display: flex;
}
.wedo__item {
  width: 50%;
}
/* accordeon */
.accordeon__item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.accordeon__item.active .accordeon__content {
  display: block;
}
.accordeon__item.active .accordeon__header {
  border-bottom-color: #e5e5e5;
}
.accordeon__item.active .accordeon__header::after {
  transform: rotate(-45deg);
}
.accordeon__header {
  border-bottom: 1px solid transparent;
  padding: 15px 20px 15px 60px;
  position: relative;
  cursor: pointer;
}
.accordeon__header::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;
  transform: translateY(-50%) rotate(135deg);
}
.accordeon__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  transform: translateY(-50%);
}
.accordeon__title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}
.accordeon__content {
  padding: 15px 20px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.5;
  display: none;
}
/* /wedo */

/* reviews */

.reviews {
  padding: 0 110px;
  position: relative;
}
.reviews__item {
  padding-left: 255px;
  position: relative;
}
.reviews__photo {
  border: 2px solid #95e1d3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.reviews__text {
  font: italic 300 24px/1.5 "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.reviews__author {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}
.reviews__author::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 3px;
  margin-right: 10px;
  background-color: #f38181;
}
.reviews__btn {
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  font-size: 0;
  color: transparent;
}
.reviews__btn::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}
.reviews__btn--prev {
  left: 0;
  transform: rotate(-45deg);
}
.reviews__btn--next {
  right: 0;
  transform: rotate(135deg);
}
/* /reviews */

/* team */
/* social */
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  padding: 12px 10px;
  background-color: #fce38a;
  border-right: 1px solid #f38181;
  color: #f38181;
  font-size: 30px;
  line-height: 1;
  width: 55px;
  height: 55px;
  transition: background 0.3s linear, color 0.3s linear;
}
.social__item:hover {
  color: #fff;
  background-color: #f38181;
}
.social__item:last-child {
  border-right: 0;
}
.card__info {
  margin-top: 20px;
  text-align: center;
}
.card__name {
  text-transform: uppercase;
  font: 400 14px "Montserrat", sans-serif;
  color: #333;
  margin-bottom: 5px;
}
.card__prof {
  font: italic 300 15px "Roboto", sans-serif;
}
/* /team */

/* logos */
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* /logos */

/* works */
.works {
  display: flex;
}
.works__col {
  flex: 1 1 0;
}

.works__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__img {
  opacity: 0.1;
}
.works__item:hover .works__info {
  opacity: 1;
}
.works__img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s linear;
}
.works__info {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 0;
  transform: translate3d(0, -50%, 0);
  text-align: center;
  color: #fff;
  padding: 0 15px;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.works__title {
  font: 400 14px "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.works__text {
  font: italic 300 15px "Montserrat", sans-serif;
}
/* /works */

/* clients */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
.clients__item {
  width: 50%;
  padding: 0 45px 0 175px;
  position: relative;
  margin-bottom: 60px;
}
.clients__photo {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 0;
  z-index: 1;
}
.clients__name {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.clients__prof {
  color: #333;
  font: italic 300 15px "Montserrat", sans-serif;
}

.clients__text::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 15px 0;
}
/* /clients */
